.tblTitle {
    font-family: '72' !important;
    font-weight: bolder !important;
    color: #5e5ecc !important;
}

.sapUxAPAnchorBar.sapMIBar.sapMTB .sapMBarChild {
    font-weight: bolder !important;
    color: #5489be !important;
}

.sapUiSizeCompact .sapUxAPObjectPageSectionTitle,
.sapUxAPObjectPageSectionTitle {
    height: 2.75rem !important;
    line-height: 2.25rem !important;
    color: #2ea356 !important;
    font-size: 1.125rem !important;
    border-bottom: 0.0625rem solid #1283e8 !important
}